.form-placement {
    padding-top: 120px;
    padding-bottom: 35px;
    h2 {
        color: #fff;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 35px;
        margin-top: 7px;
    }
}

.panel {
    background-color: rgba(0,0,0,0.7);    
    border: none;
    width: 600px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}

.panel-split-top {
    background-color: rgba(0,0,0,0.7);    
    border: none;
    width: 600px;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}
.panel-split-bottom {
    background-color: rgba(0,0,0,0.7);    
    border: none;
    width: 600px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 7px;
    .form-redirect-text {
        padding-top: 15px;
    }
    .register-btn {
        margin-top: -7px;
        margin-left: 5em;
        margin-bottom: 20px;
    }
}

.panel-admin-login {
    background-color: rgba(0,0,0,0.7);    
    border: none;
    width: 600px;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    margin-bottom: 162px;
}

label {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1em;
}

.registration-form {
    .register-btn {
        margin-top: 15px;
        margin-left: 5.2em;
        margin-bottom: 20px;
    }
    .login-btn {
        margin-top: -7px;
        margin-left: 7.3em;
    }
}
#password-confirm {
    margin-top: 7px;
}

.login-form {
    .login-btn {
        margin-top: 10px;
        margin-left: 7.3em;
    }
    
    .forgot-password {
        display: block;
        width: 260px;
        margin-left: 170px;
        margin-top: 20px;
        font-size: 1.4rem;
        text-align: center;
        color: #fff;
        border: solid 2px rgba(255,255,255,0.8);
        border-radius: 7px;
        text-decoration: none;
        &:hover {
            background-color: rgba(255,255,255,0.9);
            color: #000;
        }
    }
}

.remember-me {
    font-size: 1.5rem;
    text-transform: capitalize;
    input {
        font-size: 2rem;
        margin-top: -1.5px;
    }
}