 // ------ GREEN BANNER/PROMPT ------ //
.green-prompt {
    margin-top: 50px;
    width: 100%;
    min-height: 165px;
    padding-bottom: 20px; 
    background-color: #6ccc44;
    h1 {
        padding-top: 0.8em;
        font-size: 4.5rem;
        letter-spacing: 0.1em;
        color: #fff;
        text-align: center;
    }
    h2 {
        text-transform: none;
        color: #fff;
        text-align: center;
    }
}
// ------------ POUND CONTAINER ------------ //
.pound-container {
    h2 {
        text-align: center;
        line-height: 2em;
        padding-top: 0.6em;
    }
}

// ------ CAROUSEL ------ //
.carousel {
    margin-top: 40px;
}

.carousel-indicators {
    opacity: 0.7;
}

.carousel-control.left, .carousel-control.right {
   background-image: none !important;
   filter: none !important;
}

// ----- SESSION INFORMATION ----- //
.reg-sessions {
    .grey-box {
        margin-top: 20px;
    }
    p {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

.session-costs {
    .grey-box {
        padding: 0.5em;
        margin-top: 20px;
        margin-left: 1em;
    }
    p {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}
.pound-logo {
    img {
    width: 300px;
    height: auto;
    margin-left: 15%;
    margin-top: 5em;
    }
}

// ----- REGISTRATION/LOGIN LINKS ----- //

.reg-back-img {
    width: 100%;
    height: 450px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    padding-top: 25px;
}

.reg-log-container {
    width: 600px;
    height: 400px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    h2 {
        line-height: 0.5em;
        color: #fff;
    }
    h3 {
        line-height: 1em;
        color: #fff;
    }
  
    .reg-btn-pos {
        width: 300px;
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .log-btn-pos {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}