// -------------- TYPOGRAPHY ---------------- //

h1 {
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #565656;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #565656;
    letter-spacing: 0.15em;
}

h3 {
    color: #565656;
//    font-size: 2.019rem;
    font-size: 2.25rem;
    font-weight: 100;
    letter-spacing: 0.08em;
//    letter-spacing: 0.05em;
    font-family: 'Montserrat', sans-serif;
//	font-family: 'Roboto', sans-serif;
//	font-family: 'Work Sans', sans-serif;
    text-align: center;
    line-height: 1.75em; 
}

p {
//    font-family: 'Work Sans', sans-serif;
    font-family: 'Merriweather', serif;
    font-size: 1.8rem;
    line-height: 2.2em;
    letter-spacing: 0.1em;
}

.text-center {
    text-align: center;
}

.form-redirect-text {
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.column-text {
    width: 96%;
    height: auto;
    margin-top: 1.5em;
    margin-left: 3%;
    column-count: 2;
    column-gap: 40px;
}

@media only screen and (max-width: 1024px) {
    .column-text {
        transition: 2s;
        column-count: 1;
        
    }
}

.top-right {
//                position: absolute;
//                right: 10px;
//                top: 18px;
            }

.links > a {    
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
